{% extends 'base/base.html' %}
{% load static %}

{% block title %}My cart{% endblock title %}




{% block content %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<style>
    body{
        margin-top: 85px;
    }
    .card{
        margin-top: 50px;
    }
    .card-body-1{
        margin-top: 20px;
    }
</style>

<body>
    
<div class="row">
    {% if cart %}
        <aside class="col-lg-9">
            <div class="table-reponsive">
                <table class="table ">
                    <thead>
                        <tr class="small text-uppercase">
                            <th>Products</th>
                            <th>Quantily</th>
                            <th>Price</th>
                            <th>Total Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in cart.products %}
                        <tr class="products">
                            <td>
                                <figure class="row align-items-center">
                                    <div class="col-auto">
                                        <img src={{product.product_image}}
                                            width="60" alt="Product">
                                    </div>
                                    <figcaption class="info col-auto">
                                        <label class="text-dark"  href="{{ product.get_absolute_url }}" data-abc="true">{{ product.product_name}}</label>
                                        <p class="text-muted small">
                                            {{product.category_name}}
                                            <br>
                                        </p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <div class="update-cart">
                                    <form  method="post" class="update-cart">
                                        {% csrf_token %}
                                            <button name="decrease_product_quantity" class="btn-product-quantity" type="submit" value="{{ product.cart_id }}">
                                                <i data-feather="chevron-left"></i>
                                            </button>

                                            <input type="text" readonly class="form-control input-quantity" placeholder="Quantity"
                                                value={{ product.quantity }}>
            
                                            <button name="increase_product_quantity" class="btn-product-quantity" type="submit" value="{{ product.cart_id }}">
                                                <i data-feather="chevron-right"></i>
                                            </button>
                                    </form>
                                </div>
                            </td>
                            <td>
                                <div class="price-wrap">
                                    <p class="price">
                                        R$ {{ product.unit_price }}
                                    </p>
                                </div>
                            </td>
                                                        <td>
                                <div class="price-wrap">
                                    <p class="price">
                                        R$ {{ product.product_total_price }}
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-end align-items-center" style="min-height: 100%;">
                                    <form  method="post">
                                    {% csrf_token %}
                                        <button name="delete" class="btn-product-remove" type="submit" value="{{ product.cart_id }}">
                                        <i data-feather="trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                    {% endfor %}   
                    </tbody>
                </table>
            </div>
        </aside>
        <aside class="col-sm-12 col-lg-3">
            <div class="card md-3">
                <div class="card-body-1">
                    <div class="form-group">
                        <label>Have Coupon?</label>
                        <div class="input-group">
                            <input type="text" class="form-control coupon" name placeholder="coupon code" />
                            <span class="input-group-append">
                                <button class="btn btn-primary btn-checkout">Apply</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                    {% for total in cart.total %}
                        <div class="col-auto d-flex">
                            <dt>Total Price: </dt>
                            <dd class="text-right text-dark b ml-3">R$ {{ total.total_price }}</dd>
                        </div>
                    {% endfor %}
                    </dl>

                    <dl class="row">
                    {% for total in cart.total %}
                        <div class="col-auto d-flex">
                            <dt>Discount:</dt>
                            <dd class="text-right text-danger ml-3 ">
                                - R${{ total.total_discount }}
                            </dd>
                        </div>
                         {% endfor %}
                    </dl>

                    <dl class="row">
                        <div class="col-auto d-flex">
                            <dt>Total:</dt>
                            <dd class="text-right text-dark b ml-3">
                                <strong>R$ {{ total.total_price }}</strong>
                            </dd>
                        </div>
                    </dl>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'pages:products' %}" class="btn btn-out btn-primary btn-checkout"
                                data-abc="true">Continue shopping</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'pages:payments' %}" class="btn btn-success btn-checkout" data-abc="true">
                                Checkout</a>
                        </div>


                    </div>
                </div>
            </div>
        </aside>
    {% else %}
        <p>Unfortunately your cart is still empty! :( </p>
    {% endif %}    
</div>
</body>



{% endblock content %}