<header>
  {% comment %} <a href="{% url 'pages:home' %}" class="logo">EasyDrink</a> {%
  endcomment %}
  <a href="#" class="logo">EasyDrink</a>
  <nav class="navbar">
    {% comment %} <a href="{% url 'pages:home' %}" class="active">Home</a>
    <a href="{% url 'products:list' %}">Wines</a>
    <a href="{% url 'pages:about' %}">About</a>
    <a href="{% url 'pages:home' %}">Order</a> {% endcomment %}

    <a href="#" class="active">Home</a>
    <a href="#">Wines</a>
    <a href="#">About</a>
    <a href="#">Order</a>
  </nav>
  <div class="icons">
    <i class="fas fa-bars" id="menu-bars"></i>
    <i class="fas fa-search" id="search-icon"></i>
    {% comment %} <a href="{% url 'pages:wishes' %}" class="fas fa-heart"></a>
    <a href="{% url 'carts:cart' %}" class="fas fa-shopping-cart"></a>

    <a href="{%url 'users:login'%}" id="login" class="fas fa-user-circle"></a>
    {% endcomment %}

    <a href="#" class="fas fa-heart"></a>
    <a href="#" class="fas fa-shopping-cart"></a>

    <a href="#" id="login" class="fas fa-user-circle"></a>
  </div>
</header>

<!-- header section ends -->

<!-- search form -->
<form action="" id="search-form">
  <input type="search" placeholder="Search Here ..." name="" id="search-box" />
  <label for="search-box" class="fas fa-search"></label>
  <i class="fa fa-times" id="close" aria-hidden="true"></i>
</form>
