<header>
     <a href="#" class="logo">EasyDrink</a> 
    <a href="#" class="logo">EasyDrink</a>
<nav class="navbar">
    <a href="#" class="active">Home</a>
    <a href="#" class=>Wines</a>
    <a href="#">About</a>
    <a href="#">Order</a> 

    <a href="#" class="active">Home</a>
    <a href="#">Wines</a>
    <a href="#">About</a>
    <a href="#">Order</a>
</nav>
    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
         <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>

        
        <a href="#" id="login" class="fas fa-user-circle"></a>
    
            <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>

        
        <a href="#" id="login" class="fas fa-user-circle"></a>
    
    </div>
</header>

<!-- header section ends -->

<!-- search form -->
<form action="" id="search-form">
    <input type="search" placeholder="Search Here ..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fa fa-times" id="close" aria-hidden="true"></i>
</form>


