.login {
    /* background: url(../images/vinhos.jpg) no-repeat; */
    background-size: cover;
    width: 100%;
    height: 92%;
    text-align: center;
    color: rgb(87, 2, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}


.verify-confirm-email h1 {
    color:rgb(25, 87, 146);
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
}

