<!-- Footer -->
<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>locations</h3>
      <a href="{% url 'pages:contacts'%}">Blumenau</a>
      <a href="{% url 'pages:contacts'%}">Gaspar</a>

    </div>

    <div class="box">
      <h3>quick links</h3>
      <a href="{% url 'pages:home'%}">home</a>
      <a href="{% url 'pages:contacts'%}">dishes</a>
      <a href="{% url 'pages:about'%}">about</a>
      <a href="{% url 'pages:products'%}">menu</a>
      <a href="{% url 'pages:contacts'%}">reivew</a>
      <a href="{% url 'pages:orders'%}">order</a>
    </div>

    <div class="box">
      <h3>follow us</h3>
      <a href="{% url 'pages:contacts'%}">facebook</a>
      <a href="{% url 'pages:contacts'%}">twitter</a>
      <a href="{% url 'pages:contacts'%}">instagram</a>
      <a href="{% url 'pages:contacts'%}">linkedin</a>
    </div>
  </div>

  <div class="credit">copyright @ 2021 by <span>mr. web designer</span></div>
</section>
