{% extends 'base/base.html' %}

{% block content %}

    <div class="sidebar_box">
        <div class="content">
            <a href="#" class="list-group-item list-group-item-action">Mais vendidos</a>

            <div class="bs_box">
                <a href="{% url products:products_detail %}"><img src="{{product.image}}" alt="image"
                        style="width:50%; height: 25px" /></a>
                <h4><a href="#">{{product.name}}</a></h4>
                <p class="price">${{product.price}}</p>
                <div class="cleaner"></div>
            </div>
        </div>
    </div>
  
{% endblock content %}