{% extends 'base/base.html' %}
{% load static %}

{% block title %} Vinhos {% endblock title %}
{% block content %} 



<div class="product-container">
   {% for product in products %}
      <div class="card">
        <div class="title">{{product.title}}</div>
        <div class="image">
          <img src="{{product.image}}" alt="{{product.description}}" />
        </div>
        <div class="text">{{product.description|slice:"150"}}</div>

        <button class="buy-button">Buy now</button>
      </div>
    {% endfor %}
</div>
{% endblock content %}