{%extends 'base/base.html'%}
{% load static %}

{%block content %}
{% load crispy_forms_tags %}
<style>
    .title {
        font-weight: bold;
    }
    .row{
        margin-top: 35px;
    }
    .card-detail{
       
    margin-top: 120px;
    font-size: 1.8rem;
    }
</style>
    <link rel="stylesheet" href="{% static 'css/styles/style_cart.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles/style_products.css' %}" />
    {% load widget_tweaks %}
    {% load crispy_forms_tags %}



    <div class="card-detail">
        {% if product.id %}
        <div class="row">
            <div class="image-detail  col-md-3 row">
                <img  src="{{product.image}}" alt="Product">
            </div>
            
            <div class="container col-md-6">
                <div class="row">
                    <div class="col-12">
                        <h1 class="title">
                            {{product.title}}
                        </h1>
                    </div>
                    <div class="col-12">
                        <p>
                            {{product.description}}
                        </p>
                    </div>

                    <div class="col-12">
                        <div class="codigo-produto">
                            <span class="cor-secundaria">
                                <b>Code:</b>
                                <span itemprop="sku">
                                    {{product.id}}
                                </span> 
                            </span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="preco">
                            <div class="preco-valor">
                                <b>R$:</b>
                                {{ product.price }} 
                            </div>
                        </div>

                        <div class="desconto-a-avista">
                            <div class="valor">
                                <span class="desconto-a-vista">
                                    or
                                    <strong class="cor-principal title">R$ {{product.price}}</strong>
                                    via Bank Slip
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <form  method="POST">
                            {% csrf_token %}
                            {{ cart_add_detail|crispy }}
                            <button class="btn btn-add" type="submit" style="margin-top: 10px; width: 100%">Add to cart</button>
                        </form>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <tbody class="table-item">
                                <tr>
                                    <td scope="row">
                                        <img
                                            src="https://cdn.awsli.com.br/production/static/img/formas-de-pagamento/mercadopagov1-logo.png?v=39e08c5" />
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        <img
                                            src="https://cdn.awsli.com.br/production/static/img/formas-de-pagamento/boleto-logo.png?v=39e08c5" />
                                    </td>

                                </tr>
                                <tr>
                                    <td scope="row">
                                        <img
                                            src="https://cdn.awsli.com.br/production/static/img/formas-de-pagamento/payu-cards.png?v=39e08c5" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row mt-3">
            <center>{{ product.detail}}</center>
        </div>
        {% endif %}
    </div>

<script type="text/javascript" src="{% static 'js/script_cart.js' %}"></script>
{% endblock content %}