{% extends "base/base.html" %}

{% block content %} 
<style>
    .card {
        margin-bottom: 10px;
        justify-content: space-between;
        text-align: center;
    }

    .button-link {
        text-decoration: none
    }
</style>

    <div class="product-container">
        {% if products %}
        {% for product in products %}
           <div class="card">
             <div class="title">{{product.title}}</div>
             <div class="image">
               <img src="{{product.image}}" alt="{{product.description}}" />
             </div>
             <div class="text">{{product.description|slice:"150"}}</div>
     
             <button class="buy-button">Buy now</button>
           </div>
         {% endfor %}
         {% endif %}
     </div>
 


{% endblock content%}