.login {
    /* background: url(../images/vinhos.jpg) no-repeat; */
    /* background-size: cover; */
    text-align: center;
    color: rgb(87, 2, 32);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    height: 60vh;
    align-items: center;
    justify-items: center;
}

.box-login {
    background-color: rgb(240, 240, 240);
    padding: 2%;
    border-radius: 3%;
}
.verify-confirm-email h1 {
    color:rgb(25, 87, 146);
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
}

.login-style-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-text-center {
    text-align: center;
}

