
.mg-tp{
    margin-top: 60px!important;
}
.login {
    text-align: center;
    color:#192a56;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    height: 60vh;
    align-items: center;
    justify-items: center;
    text-transform: lowercase;
}

.box-login {
    background-color: rgb(240, 240, 240);
    padding: 2%;
    border-radius: 3%;
    font-size: 1.4rem;
}

.box-login {
    background-color: #EEEEEE;
    padding: 2%;
    border-radius: 3%;
    font-size: 1.4rem;
    margin-top: 25rem;
}
.box-login button{
    border-style: none;
}

.verify-confirm-email h1 {
    color:#192a56;
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
}

.login-style-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-text-center {
    text-align: center;
}

