{% load static %}


{%block style %}
<link rel="stylesheet" href="/pages/static/css/style_navbar.css">
<link rel="stylesheet" href="/pages/static/css/style_login.css">
<link rel="stylesheet" href="/pages/static/css/style_home.css">
{%endblock style%}

{% include 'base/nav.html' %}

{%block content %}

{% load crispy_forms_tags %}

<div class="login-style login">
        <!--Login--> 
        <div class="container py-5">
        <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                {{ login_form|crispy }}
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
            <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
        </div>
        {% comment %} </div> {% endcomment %}
</div>
   
 <script src="pages\static\js\script_nav.js"></script>
{%endblock content%}