{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<!DOCTYPE html>
<html lang="pt-BR">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>{% block title %}EasyDrink{% endblock title %}</title>

    {%block swiper-header%}
    <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    {%endblock swiper-header%}
    <!--CSS-->

    {%block style %}
    <link rel="stylesheet" href="/pages/static/css/style_navbar.css">
    <link rel="stylesheet" href="/pages/static/css/style_login.css">
    <link rel="stylesheet" href="/pages/static/css/style_home.css">

    {%endblock style%}



    <!-- Font font-awesome -->
    {%block font-awesome%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {%endblock font-awesome%}
    <!--External Font-->
    {%block fonts%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&family=Rampart+One&family=Ubuntu:wght@500&display=swap"
        rel="stylesheet">
    {%endblock fonts%}

</head>


<body>

    <!-- AQUI USAMOS PARA CRIAR O HEADER DA APLICACAO -->

    {% include 'base/nav.html' %}
    <!-- TODO O CORPO PASSA AQUI-->
   
    
    <main class="fluid-container">
        {% block content %}

        {%include 'templates/home.html' %}

        {% endblock content %}
    </main>


    {% include 'base/footer.html'%}

    <!-- LIBS JAVASCRIPT, NÃO REMOVER, JAVASCRIPT SEMPRE NO FINAL DA PAGINA. PARA QUE O VISUAL CARREGUE MAIS RAPIDO -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>


    <!-- ADD ICONS TO APP -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Swiper -->
    {%block swiper%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.5/swiper-bundle.min.js"
        integrity="sha512-QiBicDZzj0dLDxaV5d0iLTSmtSJcf4dR2Z2uGMqxOMqKm6FBM7AaY0vS1Cq6EbAn7I9i0oDnEZO4J75zeHuVBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {%endblock swiper%}
    <!-- external Javascript -->
    {%block script%}
    <script src="pages\static\js\script_nav.js"></script>
    <script src="pages\static\js\script_home.js"></script>
    {%endblock script%}

</body>

</html>