{% load static %}    
    
    <footer class="footer">
        <div>
            <a class='nav-item-personalize' href="{% url 'pages:about' %}" class="nav-link lead mr-4 font-weight-bold">Sobre Nós</a>
  
            <a class='nav-item-personalize' href="{% url 'pages:contacts' %}" class="nav-link lead mr-4 font-weight-bold">Contatos</a>

            <strong>Endereço</strong>: Rua Anfilóquio Nunes Píres, 3000 - Bela Vista, Gaspar - SC - CEP 89111900 /
            <strong>CNPJ</strong>: 12.345.678/9101-11
        </div>
    </footer>
