{% extends 'base.html' %}

{% block content %}
<style>

</style>

<div class="shopping-cart">
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Preço</th>
                <th class="text-center">SubTotal</th>
                <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear Cart</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="products-item">
                        <a class="product-thumb" href="#"><img
                                src="https://www.enovinho.com/images_cache/thumb_400x400_palato-do-coa-reserve-red-2011.jpg"
                                alt="Product"></a>
                        <div class="product-info">
                            <h4 class="product-title"><a href="#">
                                    Palato da CÔA</a></h4>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <div class="count-input">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </td>
                <td class="text-center text-lg text-medium">R$: 00</td>
                <td class="text-center text-lg text-medium">R$00</td>
                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title=""
                        data-original-title="Remove item"></a>
            </tr>
            <tr>
                <td>
                    <div class="product-item">
                        <a class="product-thumb" href="#"><img
                                src="https://www.enovinho.com/images_cache/thumb_400x400_palato-do-coa-reserve-red-2011.jpg"
                                alt="Product"></a>
                        <div class="product-info">
                            <h4 class="product-title"><a href="#">Palato da CÔA</a></h4>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <div class="count-input">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </td>
                <td class="text-center text-lg text-medium">R$20.00</td>
                <td class="text-center">—</td>
                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title=""
                        data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
            </tr>
        </tbody>
    </table>
    <div class="cart-total">
        <h2>Total no Carrinho</h2>
        <table cellspacing="0" class="shop-table shop-table-responsive">
            <tbody>
                <tr class="cart-subtotal">
                    <th>SubTotal</th>

                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}