{% extends 'base/base.html' %}

{% block content %}
<style>
    .cart-footer input {
        width: 15%;
        border-radius: 22px;

    }

    .cupon-form .form-control {
        display: inline-block;
        margin-right: 5px;
    }
</style>

<div class="shopping-cart">
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Preço</th>
                <th class="text-center">SubTotal</th>
                <th class="text-center">
                    <a class="btn btn-sm btn-outline-danger" href="#">Clear Cart</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="products-item row">
                        <div class="product-thumb col-auto">
                            <img src="https://www.enovinho.com/images_cache/thumb_400x400_palato-do-coa-reserve-red-2011.jpg"
                                width="60" alt="Product">
                        </div>
                        <div class="product-info col-auto">
                            <h5 class="product-title">
                                <a href="#">Palato da CÔA</a>
                            </h5>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <div class="count-input">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </td>
                <td class="text-center text-lg text-medium">R$00</td>
                <td class="text-center text-lg text-medium">R$00</td>
                <td class="text-center">
                    <a class="remove-from-cart" href="#" data-toggle="tooltip" title=""
                        data-original-title="Remove item">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="product-item row">
                        <a class="product-thumb col-auto">
                            <img src="https://www.enovinho.com/images_cache/thumb_400x400_palato-do-coa-reserve-red-2011.jpg"
                                width="60" alt="Product">
                        </a>
                        <div class="product-info col-auto">
                            <h5 class="product-title">
                                <a href="#">Palato da CÔA</a>
                            </h5>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <div class="count-input">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </td>

                <td class="text-center text-lg text-medium">R$20.00</td>
                <td class="text-center text-lg text-medium">R$20.00</td>
                <td class="text-center">
                    <a class="remove-from-cart" href="#" data-toggle="tooltip" title=""
                        data-original-title="Remove item">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="cart-footer">
        <div class="col-auto">
            <form class="cupon-form" method="POST">
                <input type="text" class="form-control" id="inputCuponCode" placeholder="cupon code">
                <button class="btn btn-outline-primary " type="submit">Aplicar Cupom</button>
            </form>
        </div>
    </div>

</div>


{% endblock content %}