{% extends 'base/base_home.html' %}

{% block title %}Sobre Nós{% endblock title %}

{% block content %}
{%load static%}


<section class="about" id="about">

    <h3 class="sub-heading"> about us </h3>
    <h1 class="heading"> why choose us? </h1>

    <div class="row">

        <div class="image">
            <img src="{% static 'images/Logo2.png'%}" alt="">
        </div>

        <div class="content">
            <h3>best beverage's delivery</h3>
            <p>We are here to provide a new delivey system for you. Where you can order & chill while waiting the beverage. We deliver the party at your on cozy home</p>
            <p>Come try our delivey system</p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fas fa-shipping-fast"></i>
                    <span>fast delivery</span>
                </div>
                <div class="icons">
                    <i class="fas fa-dollar-sign"></i>
                    <span>easy payments</span>
                </div>
                <div class="icons">
                    <i class="fas fa-headset"></i>
                    <span>24/7 service</span>
                </div>
            </div>
            <a href="#" style="margin-left:30%; right:50%" class="btn">learn more</a>
        </div>

    </div>

</section>

{% endblock content %}