{% extends 'base/base.html' %}

{% block content %}
<div class="about_us">
<h1 class="about-title h1">About Us</h1>
<p class="about-text">
  Com intuito de empreender, nós, a DreamTech, decidimos criar a nossa própria
  ferramenta de trabalho, na qual unia o objetivo individual de cada um e o
  objetivo do Entra21. A partir disso, desenvolvemos um e-commerce(comércio
  eletrônico) voltado para a distribuição de bebidas local e nacional. Visando
  alcançar aqueles que apreciam o lazer acompanhado de uma boa bebida, decidimos
  simplificar esse processo de descoberta de novos sabores e a sua aquisição. A
  EasyDrink busca apresentar ao consumidor o que há de melhor no mercado de
  bebidas, tornando a vida ainda mais alegre.
</p>
</div>

{% endblock %}