{% extends 'base/base.html' %} 

{% block content %}

 {% load static %}
<style>
body{
  background-color:#fcfcff;
}
</style>

<div class="container" style="margin-top: 15rem">
  <div class="row justify-content-md-left" >
    <h1 class="about-title h1">About Us</h1>

    <div class="col" style="margin-top: 20px">
      <div style="border-left: 6px solid; height: fit-content">
        <p class="h4" style="margin-left: 8px">
          In order to undertake, we, DreamTech, decided to create our work tool
          itself, in which it united the individual objective of each one and
          the objective of Entra21. From this, we have developed an e-commerce
          ,a virtual platform for sales, focused on the distribution of beverages local and
          national. Aiming to reach those who enjoy leisure accompanied by a
          good drink, we decided to simplify this process of discovery of new
          flavors and their acquisition. EasyDrink seeks present to the consumer
          the best in the beverage market, making life even more joyful.
        </p>
      </div>
      
   <a href="https://github.com/eduardasneves18/EasyDrink/blob/main/README.md">
  <button  class="btn btn-warning btn-lg active" type="button">
  Get to Know our work
  </button>
  </a>
  </div>
  

    <div class="col" style="margin-top: -180">
      <img src="{% static 'images/DreamTech.gif'%}" style="background-color:transparent" alt="" />
    </div>
  </div>
  
</div>


{% endblock %}
