{% extends 'base/base.html'%} 
{% block content %} 
{% include 'slider.html' %}

<!-- Wines -->
<section class="dishes" id="dishes">
  <h3 class="sub-heading">our wines</h3>
  <h1 class="heading">popular wines</h1>



  <div class="box-container">
    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="images/dish-1.png" alt="" />
      <h3>bourboun</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$ 25.55</span>
      <a href="#" class="btn">add to cart</a>
    </div>
    

      <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="#" alt="" />
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="#" alt="" />
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="#" alt="" />
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="#" alt="" />
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="#" alt="" />
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>
  </div>
 
</section>

<!-- Specials -->
<section class="menu" id="menu" style="background-color: rgb(226, 216, 216)">
  <h3 class="sub-heading">our wines menu</h3>
  <h1 class="heading">today's speciality</h1>

  <div class="box-container">
    <div class="box">
      <div class="image">
        <img src="#" alt="" />
        <a href="#" class="fas fa-heart"></a>
      </div>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i> 
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>delicious food</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
          accusantium.
        </p>
        <a href="#" class="btn">add to cart</a>
        <span class="price">$12.99</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="#" alt="" />
        <a href="#" class="fas fa-heart"></a>
      </div>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>delicious food</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
          accusantium.
        </p>
        <a href="#" class="btn">add to cart</a>
        <span class="price">$12.99</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="#" alt="" />
        <a href="#" class="fas fa-heart"></a>
      </div>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>delicious food</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
          accusantium.
        </p>
        <a href="#" class="btn">add to cart</a>
        <span class="price">$12.99</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="#" alt="" />
        <a href="#" class="fas fa-heart"></a>
      </div>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>delicious food</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
          accusantium.
        </p>
        <a href="#" class="btn">add to cart</a>
        <span class="price">$12.99</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="#" alt="" />
        <a href="#" class="fas fa-heart"></a>
      </div>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>delicious food</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
          accusantium.
        </p>
        <a href="#" class="btn">add to cart</a>
        <span class="price">$12.99</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="#" alt="" />
        <a href="#" class="fas fa-heart"></a>
      </div>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>delicious food</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
          accusantium.
        </p>
        <a href="#" class="btn">add to cart</a>
        <span class="price">$12.99</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="#" alt="" />
        <a href="#" class="fas fa-heart"></a>
      </div>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>delicious food</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
          accusantium.
        </p>
        <a href="#" class="btn">add to cart</a>
        <span class="price">$12.99</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="#" alt="" />
        <a href="#" class="fas fa-heart"></a>
      </div>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>delicious food</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
          accusantium.
        </p>
        <a href="#" class="btn">add to cart</a>
        <span class="price">$12.99</span>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="#" alt="" />
        <a href="#" class="fas fa-heart"></a>
      </div>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>delicious food</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
          accusantium.
        </p>
        <a href="#" class="btn">add to cart</a>
        <span class="price">$12.99</span>
      </div>
    </div>
  </div>
</section>



{% include 'base/footer.html'%} {% endblock content%}
