{% extends 'base/base_home.html'%}
{% load static %} 
{% block content %} 
{% include 'slider.html' %}


<style>
body{ text-transform: capitalize;}
</style>
<!-- Wines -->

<section class="dishes" id="dishes">
  <h3 class="sub-heading">our wines</h3>
  <h1 class="heading">popular wines</h1>
                                  
  
  <div class="box-container" style="height: fit-content">
    {% for key in data %} 
      {% if forloop.counter < 7 %}
    <div class="box" style="border:transparent">
      <a href="{{product.my_absolute_url }}" class="fas fa-heart"></a>
      <a href="{{key.my_absolute_url }}" class="fas fa-eye"></a>

      <a href="{{product.my_absolute_url }}"><img src="{{key.image}}" alt="{{key.description}}" /></a>
      <h3>{{key.title|slice:14}}</h3>

      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$ {{key.price}}</span><br>
       <form  method="post">
      <a href="{{key.my_absolute_url}}" class="btn" method="post" >Add to cart</a>

    </div>
      {% endif %}
    {% endfor %} 
    

</section>

<!-- Specials -->
<section class="menu" id="menu" style="background-color: rgb(226, 216, 216)">
  <h3 class="sub-heading">our wines menu</h3>
  <h1 class="heading">today's speciality</h1>
  
  <div class="box-container">
    {% for key in data %} 
      {% if forloop.counter < 7 %}
    <div class="box " style="border:transparent;">
      <div class="image"> 
        <img class="speciality_menu"src="{{key.image}}" style="width: 100px; margin: 0 0 0 82px;"alt="" />
        <a href="{{key.my_absolute_url}}" class="fas fa-heart"></a>
      </div>
      <center>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i> 
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>{{key.title|slice:14}}</h3>
        <p>
          {{key.description|slice:"24"}}
        </p>
        <span class="price">$ {{key.price}}</span><br>
        <a href="{{key.my_absolute_url}}" class="btn">
          Add to cart
        </a>
      </div>
      </center>
    </div>
      {% endif %}
    {% endfor %}

  </div>
</section>

{% endblock content%}
