{% extends 'base/base_home.html'%}
{% load static %} 
{% block content %} 
{% include 'slider.html' %}

<style>
body{ text-transform: capitalize;}
</style>
<!-- Wines -->

<section class="dishes" id="dishes">
  <h3 class="sub-heading">our wines</h3>
  <h1 class="heading">popular wines</h1>
                                  
  
  <div class="box-container" style="height: fit-content">
    {% for key in data %} 
      {% if forloop.counter < 7 %}
    <div class="box" style="border:transparent">
      <a href="#" class="fas fa-heart"></a>
      <a href="{{key.my_absolute_url }}" class="fas fa-eye"></a>
      <a href="#"><img src="{{key.image}}" alt="{{key.description}}" /></a>
      <h3>{{key.title}}</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$ {{key.price}}</span>
      <a href="#" class="btn" method="post" >add to cart</a>
    </div>
      {% endif %}
    {% endfor %} 
    

</section>

<!-- Specials -->
<section class="menu" id="menu" style="background-color: rgb(226, 216, 216)">
  <h3 class="sub-heading">our wines menu</h3>
  <h1 class="heading">today's speciality</h1>
  
  <div class="box-container">
    {% for key in data %} 
      {% if forloop.counter < 7 %}
    <div class="box style:border-transparent; height: fit-content" >
      <div class="image"> 
        <img src="{{key.image}}" style="hight: 100px; width: 100px; margin-left: 100px"alt="" />
        <a href="#" class="fas fa-heart"></a>
      </div>
      <div class="content">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i> 
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3>{{key.title}}</h3>
        <p>
          {{key.description|slice:"24"}}
        </p>
        <a href="#" class="btn">add to cart</a>
        <span class="price" style="text-align:center margin-top: 1.1rem!important"><br> $ {{key.price}}</span>
      </div>
    </div>
      {% endif %}
    {% endfor %}



  </div>
</section>

{% endblock content%}
