{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% comment %} {% block category-list %} {% endcomment %}
    <div class="list-group">
        <div class="list-group-item">
            Categorias
        </div>
        <div>
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
        </div>
    </div>
{% comment %} {% endblock %} {% endcomment %}