{% extends 'templates/base/base.html' %}

{% block content %}
<style>
    .card {
        margin-bottom: 1rem;
    }

    .update-cart {
        cursor: pointer;
        text-decoration: none;
        color: #000;
    }

    .quantidade-input {
        max-width: 100%;
    }
</style>


<div class="row">
    <aside class="col-lg-9">

        <div class="table-reponsive">
            <table class="table ">
                <thead>
                    <tr class="small text-uppercase">
                        <th>Products</th>
                        <th>Quantily</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <figure class="row align-items-center">
                                <div class="col-auto">
                                    <img src="https://www.enovinho.com/images_cache/thumb_400x400_palato-do-coa-reserve-red-2011.jpg"
                                        width="60" alt="Product">
                                </div>
                                <figcaption class="info col-auto">
                                    <label class="text-dark" data-abc="true">Palato da CÔA</label>
                                    <p class="text-muted small">
                                        vinho
                                        <br>
                                    </p>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <a data-action="remove" class="update-cart">
                                        <i data-feather="chevron-left"></i>
                                    </a>
                                </div>

                                <div class="col-4">
                                    <input type="text" class="form-control quantidade-input" placeholder="Quantidade"
                                        value="1">
                                </div>

                                <div class="col-auto">
                                    <a data-action="add" class="update-cart">
                                        <i data-feather="chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <p class="price">R$10.00</p>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end align-items-center" style="min-height: 100%;">
                                <button type="button" class="btn btn-danger">Remove</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <figure class="row align-items-center">
                                <div class="col-auto">
                                    <img src="https://www.enovinho.com/images_cache/thumb_400x400_palato-do-coa-reserve-red-2011.jpg"
                                        width="60" alt="Product">
                                </div>
                                <figcaption class="info col-auto">
                                    <label class="text-dark" data-abc="true">Palato da CÔA</label>
                                    <p class="text-muted small">
                                        vinho
                                        <br>
                                    </p>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <a data-action="remove" class="update-cart">
                                        <i data-feather="chevron-left"></i>
                                    </a>
                                </div>

                                <div class="col-4">
                                    <input type="text" class="form-control quantidade-input " placeholder="Quantidade"
                                        value="1">
                                </div>

                                <div class="col-auto">
                                    <a data-action="add" class="update-cart">
                                        <i data-feather="chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <p class="price">R$10.00</p>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end align-items-center" style="min-height: 100%;">
                                <button type="button" class="btn btn-danger">Remove</button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <figure class="row align-items-center">
                                <div class="col-auto">
                                    <img src="https://www.enovinho.com/images_cache/thumb_400x400_palato-do-coa-reserve-red-2011.jpg"
                                        width="60" alt="Product">
                                </div>
                                <figcaption class="info col-auto">
                                    <label class="text-dark" data-abc="true">Palato da CÔA</label>
                                    <p class="text-muted small">
                                        vinho
                                        <br>
                                    </p>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <a data-action="remove" class="update-cart">
                                        <i data-feather="chevron-left"></i>
                                    </a>
                                </div>

                                <div class="col-4">
                                    <input type="text" class="form-control quantidade-input " placeholder="Quantidade"
                                        value="1">
                                </div>

                                <div class="col-auto">
                                    <a data-action="add" class="update-cart">
                                        <i data-feather="chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <p class="price">R$10.00</p>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end align-items-center" style="min-height: 100%;">
                                <button type="button" class="btn btn-danger">Remove</button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <figure class="row align-items-center">
                                <div class="col-auto">
                                    <img src="https://www.enovinho.com/images_cache/thumb_400x400_palato-do-coa-reserve-red-2011.jpg"
                                        width="60" alt="Product">
                                </div>
                                <figcaption class="info col-auto">
                                    <label class="text-dark" data-abc="true">Palato da CÔA</label>
                                    <p class="text-muted small">
                                        vinho
                                        <br>
                                    </p>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <a data-action="remove" class="update-cart">
                                        <i data-feather="chevron-left"></i>
                                    </a>
                                </div>

                                <div class="col-4">
                                    <input type="text" class="form-control quantidade-input " placeholder="Quantidade"
                                        value="1">
                                </div>

                                <div class="col-auto">
                                    <a data-action="add" class="update-cart">
                                        <i data-feather="chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <p class="price">R$10.00</p>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end align-items-center" style="min-height: 100%;">
                                <button type="button" class="btn btn-danger">Remove</button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <figure class="row align-items-center">
                                <div class="col-auto">
                                    <img src="https://www.enovinho.com/images_cache/thumb_400x400_palato-do-coa-reserve-red-2011.jpg"
                                        width="60" alt="Product">
                                </div>
                                <figcaption class="info col-auto">
                                    <label class="text-dark" data-abc="true">Palato da CÔA</label>
                                    <p class="text-muted small">
                                        vinho
                                        <br>
                                    </p>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <a data-action="remove" class="update-cart">
                                        <i data-feather="chevron-left"></i>
                                    </a>
                                </div>

                                <div class="col-4">
                                    <input type="text" class="form-control quantidade-input " placeholder="Quantidade"
                                        value="1">
                                </div>

                                <div class="col-auto">
                                    <a data-action="add" class="update-cart">
                                        <i data-feather="chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <p class="price">R$10.00</p>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end align-items-center" style="min-height: 100%;">
                                <button type="button" class="btn btn-danger">Remove</button>
                            </div>
                        </td>
                    </tr>


                </tbody>
            </table>

        </div>
    </aside>
    <aside class="col-sm-12 col-lg-3">
        <div class="card md-3">
            <div class="card-body">
                <div class="form-group">
                    <label>Have Coupon?</label>
                    <div class="input-group">
                        <input type="text" class="form-control coupon" name placeholder="coupon code" />
                        <span class="input-group-append">
                            <button class="btn btn-primary btn-apply coupon">Apply</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <div class="col-auto d-flex">
                        <dt>Total Price:</dt>
                        <dd class="text-right text-dark b ml-3">R$60.00</dd>
                    </div>
                </dl>

                <dl class="row">
                    <div class="col-auto d-flex">
                        <dt>Discount:</dt>
                        <dd class="text-right text-danger ml-3 ">- R$10.00</dd>
                    </div>
                </dl>

                <dl class="row">
                    <div class="col-auto d-flex">
                        <dt>Total:</dt>
                        <dd class="text-right text-dark b ml-3">
                            <strong>R$00.00</strong>
                        </dd>
                    </div>
                </dl>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <a href="#" class="d-flex justify-content-center btn btn-out btn-primary "
                            data-abc="true">Continue
                            shopping</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="d-flex justify-content-center btn btn-out btn-success " data-abc="true">
                            Checkout</a>
                    </div>


                </div>
            </div>
        </div>
    </aside>
</div>



{% endblock content %}