<div class="main-container">
    <aside class="menu col-lg-2 col-md-6">
    
        {% include "categories/category_list.html" %}

        <div class="sidebar_box">
            <div class="content">
                <a href="#" class="list-group-item list-group-item-action">Mais vendidos</a>

                <div class="bs_box">
                    <a href="#"><img src="#" alt="image"
                            style="width:50%; height: 25px" /></a>
                    <h4><a href="#">nome do produto</a></h4>
                    <p class="price">$10</p>
                    <div class="cleaner"></div>
                </div>
            </div>
        </div>
    </aside>
</div>