{%extends 'base/base.html'%}
{% load static %}

{%block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/styles/style_login.css' %}" />

    <div class="login">
            <!--Login--> 
            <div class="box-login">
                <h1>Login</h1>
                <form  method="POST">
                    {% csrf_token %}
                    {{ login_form|crispy }}
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>

                <div style="margin:10px">
                <p class="text-center">Forgot your password? <a href="{% url 'pages:reset-password' %}">Reset now</a>.</p>
                </div>
                <div style="margin:10px">
                    <p class="text-center">Don't have an account? <a href="{% url 'pages:register' %}">Create an account</a>.</p>
                </div>

            </div>
    </div>
    
    <script src="{% static 'js/script_nav.js' %}"></script>

{%endblock content%}