{%extends 'base/base.html'%}
{% load static %}


{%block style %}
<link rel="stylesheet" href="/pages/static/css/style_navbar.css">
<link rel="stylesheet" href="/pages/static/css/style_login.css">
<link rel="stylesheet" href="/pages/static/css/style_home.css">
{%endblock style%}


{% block content %}
    {% load crispy_forms_tags %}

    <div class="login">
        <div class="box-login">
            <h1>Register</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ register_form|crispy }}

                    <button class="btn btn-form" type="submit">Register</button>
                </form>
        </div>
    </div>
    
    <script src="pages\static\js\script_nav.js"></script>

{% endblock content %}