{%extends 'base/base.html'%}
{% load static %}


{%block content %}
{% include 'base/nav.html' %} 

{% load crispy_forms_tags %}

    <div class="login-style login">

            <div class="container py-5 ">
                <h1>Reset password</h1>
                <h3> Send your e-mail to reset password </h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ reset_password_form|crispy }}

                    <button class="btn btn-primary" type="submit">Reset password</button>
                </form>

            </div>
    </div>
    
    <script src="{% static 'js/script_nav.js' %}"></script>

{%endblock content%}