{% extends 'base/base.html' %}
{%load static%}
{% block title %} Verify e-mail {% endblock title %}

{% block content %}

<section class="about" id="verify-email" style="margin: 10% auto 0; ">

    <h3 class="sub-heading"> Verify e-mail </h3>
    <img style="display:block; width: 50%;margin: auto;  "src="{% static 'images/Logo3.png' %}">
    <div class="row">
        <div class="content verify-confirm-email">
            <h1> Please verify your e-mail to complete your register!!!</h1>
        </div>
    </div>

</section>

{% endblock content %}