{% extends 'base/base.html' %}
{%load static%}
{% block title %}Verificação de e-mail{% endblock title %}

{% block content %}

<section class="about" id="verify-email">

    <h3 class="sub-heading"> Verificação de e-mail </h3>
    <img style="display:block;margin-left: auto;margin-right: auto;width: 50%; "src="{% static 'images/Logo2.png' %}">
    <div class="row">
        <div class="content verify-confirm-email">
            <h1> Por favor verificar a ativação enviado no seu e-mail !!!</h1>
        </div>
    </div>

</section>

{% endblock content %}